{{!--
<div class="container"> --}}
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Available Burgers</h3>
                </div>
                <div class="panel-body">
                    {{#each data}} {{#unless devoured}}
                    <div class="well">Name: {{burger_name}}
                        <p style="float:right" class="text-right">
                            <button class="eat" value={{id}}>EAT ME</button>
                            <button class="delete" value={{id}}>X</button>
                        </p>
                    </div>
                    {{/unless}} {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Order Here</h3>
                </div>
                <div class="panel-body">
                    {{#each data}} {{#if devoured}}
                    <div class="well">Name: {{burger_name}}
                        <p style="float:right" class="text-right">
                            <button class="make" value={{id}}>ORDER</button>
                            <button class="delete" value={{id}}>X</button>
                        </p>
                    </div>
                    {{/if}} {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add a Burger</h3>
                </div>
                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="new-name">Name</label>
                            <input type="text" class="form-control" id="new-name" placeholder="">
                        </div>
                        <button type="submit" class="btn btn-default" id="submit">Done</button>
                    </form>
                </div>
            </div>
            <a href="/api/all">DB JSON data</a>
        </div>
    </div>
    {{!-- </div> --}}